@inherits LayoutComponentBase

@code
{
    [Parameter] public string? Title { get; set; }
    [Parameter] public string? Content { get; set; }
    [Parameter] public bool IsSubDir { get; set; }

    public string relDir = "";
}

<html>
<head>

    <title>Ragnarok Rebuild - @Title</title>

    <!--SCRIPT-->

</head>

@if (IsSubDir)
{
    <link rel="stylesheet" type="text/css" href="../rebuildinfo.css" />
    <link rel="stylesheet" type="text/css" href="../worldmap.css" />
    relDir = "../";
}
else
{
    <link rel="stylesheet" type="text/css" href="rebuildinfo.css" />
    <link rel="stylesheet" type="text/css" href="worldmap.css" />
}


<body>
    <table class="maintb" style="max-width: 1200px; margin-left: auto; margin-right: auto;">
        <tr>
            <td width=130 style="min-width=130;" class="top">

                <div id="topic-main">

                    <b>RO Rebuild</b>:<br> Ragnarok Online<br>Rebuild Project
                </div>

                <div id="topic">
                    <h2 class="topicheader">Main</h2>
                    <div class="content">
                        <ul>
                            <li class="sidebar"><a href="@(relDir)index.html">Overview</a></li>
                        </ul>
                    </div>
                </div>


@*                 <div id="topic">
                    <h2 class="topicheader">Play</h2>
                    <div class="content">
                        <ul>
                            <li class="sidebar"><a href="https://dodsrv.com/ragnarok/client.html">Browser Client</a></li>
                            <li class="sidebar"><a href="https://dodsrv.com/ragnarok/RagnarokRebuild.zip">PC Client</a></li>
                        </ul>
                    </div>
                </div> *@

                <div id="topic">
                    <h2 class="topicheader">Jobs</h2>
                    <div class="content">
                        <ul>
                            <li class="sidebar"><a href="@(relDir)jobs/JobNovice.html">Novice</a></li>
                            <li class="sidebar"><a href="@(relDir)jobs/JobSwordsman.html">Swordsman</a></li>
                            <li class="sidebar"><a href="@(relDir)jobs/JobMage.html">Mage</a></li>
                            <li class="sidebar"><a href="@(relDir)jobs/JobArcher.html">Archer</a></li>
                            <li class="sidebar"><a href="@(relDir)jobs/JobThief.html">Thief</a></li>
                            <li class="sidebar"><a href="@(relDir)jobs/JobAcolyte.html">Acolyte</a></li>
                            <li class="sidebar"><a href="@(relDir)jobs/JobMerchant.html">Merchant</a></li>
                        </ul>
                    </div>
                </div>

                <div id="topic">
                    <h2 class="topicheader">World</h2>
                    <div class="content">
                        <ul>

                            <li class="sidebar"><a href="@(relDir)WorldMap.html">World Map</a></li>
                            <li class="sidebar"><a href="@(relDir)FieldMaps.html">Fields</a></li>
                            <li class="sidebar"><a href="@(relDir)Dungeons.html">Dungeons</a></li>
                            <li class="sidebar"><a href="@(relDir)MonsterListFull.html">Monsters</a></li>
                            <!--<li class="sidebar"><a href="#">Merchants</a></li>-->
                        </ul>
                    </div>
                </div>

                <div id="topic">
                    <h2 class="topicheader">Items</h2>
                    <div class="content">
                        <ul>
                            <li class="sidebar"><a href="@(relDir)rebuildWeapons.html">Weapons</a></li>
                            <li class="sidebar"><a href="@(relDir)rebuildEquipment.html">Equipment</a></li>
                            <li class="sidebar"><a href="@(relDir)rebuildCards.html">Cards</a></li>
                            <li class="sidebar"><a href="@(relDir)rebuildConsumable.html">Consumables</a></li>
                            <li class="sidebar"><a href="@(relDir)rebuildEtcItems.html">Other Items</a></li>
                            @* <li class="sidebar"><a href="#">Consumables</a></li> *@
                            @* <li class="sidebar"><a href="#">Etc Items</a></li> *@
                        </ul>
                    </div>
                </div>

                <div id="topic">
                    <h2 class="topicheader">Other Info</h2>
                    <div class="content">
                        <ul>
                            <li class="sidebar"><a href="@(relDir)ExpChart.html">Exp Chart</a></li>
                            <li class="sidebar"><a href="@(relDir)ElementChart.html">Elemental Modifiers</a></li>
                            <li class="sidebar"><a href="@(relDir)PartyShare.html">Party Exp Share</a></li>
                            @* <li class="sidebar"><a href="#">Player Stats</a></li>
                            <li class="sidebar"><a href="#">Status Effects</a></li>
                            <li class="sidebar"><a href="#">Monster Skills</a></li> *@
                        </ul>
                    </div>
                </div>

                <div id="topic">
                    <h2 class="topicheader">Links</h2>
                    <div class="content">
                        <ul>
                            <li class="sidebar"><a href="https://discord.gg/sEpPKsPPpd">Discord</a></li>
                            <li class="sidebar"><a href=https://github.com/Doddler/RagnarokRebuildTcp>Project GitHub</a></li>
                        </ul>
                    </div>
                </div>

                <img src=images/block.png height=1 width=130 />
            </td>
            <td width=100% class="top">
                <div id="container" />
                <div id="topic">
                    <H3>@Title</H3>

                    @((MarkupString)Content)
                </div>
            </td>


        </tr>
    </table>
    <br />
</body>
</html>