@using RoRebuildServer.Data
@using RoWikiGenerator.Generators
@code {
    [Parameter] public Generators.Items.ItemModel Model { get; set; }
}

<div class="contentzone">

    <h2 class="subheader tocheader">Table of Contents</h2>
    <div class="tocdiv">
        <ul>
            @foreach (var (code, name) in Model.CategoryLookup)
            {
                <li><a href="#@(code)">@name</a></li>
            }
        </ul>
    </div>
    <br />

    @foreach (var (code, _) in Model.CategoryLookup)
    {
        var entries = Model.ItemByCategory[code];

        <H2 class="subheader" id="@(code)">@Model.CategoryLookup[code]</H2>
        
        <table class="itemtable" cellspacing="0" cellpadding="0">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Attack</th>
                    <th>Property</th>
                    <th>Weight</th>
                    <th>Weapon Level</th>
                    <th>Req. Level</th>
                    <th>Jobs</th>
                    <th>Obtained By</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Items.WeaponEntry entry in entries)
                {
                    var itemSprite = entry.weapon.Code;
                    if (@Items.SharedIcons.TryGetValue(itemSprite, out var copy))
                        itemSprite = copy;

                    <tr id="@entry.csvData.Code">
                        <td width="20px" style='text-align:center'><img src="images/rebuilditems/@(itemSprite).png"></td>
                        <td width="100px">
                            @entry.weapon.Name
                            @if (entry.csvData.Slot > 0)
                            {
                                <span> [@entry.csvData.Slot]</span>
                            }
                        </td>
                        <td width="200px">@((MarkupString)entry.description.Replace("\n", "<br>").Replace("\r", ""))</td>
                        <td width="40px">@entry.csvData.Attack</td>
                        <td width="50px">@entry.csvData.Property</td>
                        <td width="40px">@(entry.csvData.Weight / 10)</td>
                        <td width="50px">@entry.csvData.Rank</td>
                        <td width="40px">@entry.csvData.MinLvl</td>
                        <td width="140px">@((MarkupString)entry.availableJobs)</td>
                        <td width="320px" style="vertical-align: top">
                            @foreach (var (monster, drops) in entry.source.DropsFromMonsters)
                            {
                                @foreach (var drop in drops)
                                {
                                    @*                                     <span>
                                        @(DataManager.MonsterCodeLookup[monster].Name) (@(drop.Chance / 100f)%)

                                    </span><br/>
 *@
                                    <span span="float: left">
                                        <a href="MonsterListFull.html#@(monster)">Dropped by @(DataManager.MonsterCodeLookup[monster].Name)</a>
                                    </span>
                                    <span style="float: right">@(drop.Chance / 100f)%</span>
                                    <br style="clear:both" />
                                }

                            }
                            @*                         </td>
                        <td width="200px" style="vertical-align: top"> *@
                            @foreach (var (vendor, prices) in entry.source.NpcSales)
                            {
                                <span span="float: left">Sold by @vendor</span>
                                <span style="float: right">@prices[0]</span>
                                <br style="clear:both" />
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <br />
    }
</div>